body {
    font-family: 'Arial', sans-serif; /* Ou outra fonte que você goste */
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

header nav a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 10px;
    background: #fff;
    border-radius: 5px;
}

.projeto {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px #eee solid;
}

footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}